body{
    margin:0;
    font-family:Arial;
    background:#0f0f0f;
    color:white;
}

header{
    background:#111;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid #0d6efd;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:8px 12px;
    margin:5px;
    cursor:pointer;
    border-radius:6px;
    font-weight:bold;
}

button:hover{
    background:#0b5ed7;
}

.container{
    padding:20px;
}

.card{
    background:#1a1a1a;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
    border-left:4px solid #0d6efd;
}

input, select{
    padding:8px;
    margin:5px 0;
    width:100%;
    border-radius:5px;
    border:none;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th, td{
    padding:10px;
    text-align:center;
}

th{
    background:#0d6efd;
}

tr:nth-child(even){
    background:#1a1a1a;
}